In [1]:
pip install OSMPythonTools
pip install requests
pip install geopy
pip install pyonemap

Collecting OSMPythonTools
  Downloading OSMPythonTools-0.3.5.tar.gz (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\users\keith\anaconda3\lib\site-packages (from OSMPythonTools) (4.12.2)
Collecting geojson (from OSMPythonTools)
  Obtaining dependency information for geojson from https://files.pythonhosted.org/packages/8e/1b/4f57660aa148d3e3043d048b7e1ab87dfeb85204d0fdb5b4e19c08202162/geojson-3.1.0-py3-none-any.whl.metadata
  Downloading geojson-3.1.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: lxml in c:\users\keith\anaconda3\lib\site-packages (from OSMPythonTools) (4.9.3)
Requirement already satisfied: matplotlib in c:\users\keith\anaconda3\lib\site-packages (from OSMPythonTools) (3.7.2)
Requirement already satisfied: numpy in c:\users\keith\anaconda3\lib\site-packages (from OSMPythonTools) (1.24.3)
Requirement already satisfied: pandas in c:\users\keith\anaconda3\lib\site-packages (from OSMPythonTools) (2.0.3)
Requirement already satisfied: ujson in c:\users\keith\anaconda3\lib\site-packages (from OSMPythonTools) (5.4.0)
Requirement already satisfied: xarray in c:\users\keith\anaconda3\lib\site-packages (from OSMPythonTools) (2023.6.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\keith\anaconda3\lib\site-packages (from beautifulsoup4->OSMPythonTools) (2.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\keith\anaconda3\lib\site-packages (from matplotlib->OSMPythonTools) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\keith\anaconda3\lib\site-packages (from pandas->OSMPythonTools) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\keith\anaconda3\lib\site-packages (from pandas->OSMPythonTools) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\keith\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->OSMPythonTools) (1.16.0)
Downloading geojson-3.1.0-py3-none-any.whl (15 kB)
Building wheels for collected packages: OSMPythonTools
  Building wheel for OSMPythonTools (setup.py): started
  Building wheel for OSMPythonTools (setup.py): finished with status 'done'
  Created wheel for OSMPythonTools: filename=OSMPythonTools-0.3.5-py3-none-any.whl size=32755 sha256=be9ab40f3f7207b2b4ae1393af8a53f236f496e8d3184463cdcf822d4eed7f10
  Stored in directory: c:\users\keith\appdata\local\pip\cache\wheels\c6\d0\f3\df5ca1a29d749e1a99e635f84617944cfc2d0fa2f5d8078208
Successfully built OSMPythonTools
Installing collected packages: geojson, OSMPythonTools
Successfully installed OSMPythonTools-0.3.5 geojson-3.1.0
Note: you may need to restart the kernel to use updated packages.

# Residential Coordinates

In [1]:
import pandas as pd
df_h = pd.read_csv("HDB_Hougang.csv")
df_h["full_address"] = df_h["block"] + " " + df_h["street_name"]

df_s = pd.read_csv("HDB_Serangoon.csv")
df_s["full_address"] = df_s["block"] + " " + df_s["street_name"]

In [5]:
from pyonemap import OneMap

response = OneMap.getToken("keith.yong@hotmail.com", "N@tsudslayer1")
access_token = response['access_token']

onemap = OneMap(access_token)
residential_h_loc = []
for i in range(len(df_h)):
    try:
        address = onemap.search(df_h["full_address"][i])
        residential_h_loc.append((address["results"][0]["ADDRESS"], address["results"][0]["LATITUDE"], address["results"][0]["LONGITUDE"]))
        if i%100 == 0:
            print(i)
    except:
        residential_h_loc.append((df_h["full_address"][i], "nil", "nil"))
        print(f"Error: {i}")

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
Error: 8957

In [11]:
from pyonemap import OneMap

response = OneMap.getToken("keith.yong@hotmail.com", "N@tsudslayer1")
access_token = response['access_token']

onemap = OneMap(access_token)
residential_s_loc = []

for i in range(len(df_s)):
    try:
        address = onemap.search(df_s["full_address"][i])
        residential_s_loc.append((address["results"][0]["ADDRESS"], address["results"][0]["LATITUDE"], address["results"][0]["LONGITUDE"]))
        if i%100 == 0:
            print(i)
    except:
        residential_s_loc.append((df_s["full_address"][i], "nil", "nil"))
        print(f"Error: {i}")

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200

In [12]:
lat_coor_h = []
long_coor_h = []
lat_coor_s = []
long_coor_s = []

for i in residential_h_loc:
    lat_coor_h.append(i[1])
    long_coor_h.append(i[2])
    
for i in residential_s_loc:
    lat_coor_s.append(i[1])
    long_coor_s.append(i[2])

In [13]:
df_h_new = df_h
df_h_new = df_h_new.drop("block", axis = 1)
df_h_new = df_h_new.drop("street_name", axis = 1)
df_h_new["X_coordinates"] = lat_coor_h
df_h_new["Y_coordinates"] = long_coor_h

In [9]:
df_h_new.head()

,month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,full_address,X_coordinates,Y_coordinates
0,2017-01,HOUGANG,2 ROOM,10 TO 12,47,Model A,2012,94 years 04 months,252000.0,986A BUANGKOK CRES,1.3819169455989,103.87980371499
1,2017-01,HOUGANG,3 ROOM,01 TO 03,73,New Generation,1978,60 years 04 months,260000.0,22 HOUGANG AVE 3,1.36428542444529,103.89046790222
2,2017-01,HOUGANG,3 ROOM,01 TO 03,60,Improved,1987,69 years,268000.0,644 HOUGANG AVE 8,1.37143736463903,103.88126107892
3,2017-01,HOUGANG,3 ROOM,01 TO 03,67,New Generation,1978,60 years 05 months,269000.0,24 HOUGANG AVE 3,1.36551226123746,103.892085472745
4,2017-01,HOUGANG,3 ROOM,01 TO 03,67,New Generation,1984,66 years 03 months,270000.0,108 HOUGANG AVE 1,1.35277393315533,103.890093177026

In [14]:
df_s_new = df_s
df_s_new = df_s_new.drop("block", axis = 1)
df_s_new = df_s_new.drop("street_name", axis = 1)
df_s_new["X_coordinates"] = lat_coor_s
df_s_new["Y_coordinates"] = long_coor_s

In [15]:
df_h_new.to_csv("C:/Users/keith/OneDrive/Desktop/Github Projects/HDB Price Analysis/HDB_Hougang_Final.csv")
df_s_new.to_csv("C:/Users/keith/OneDrive/Desktop/Github Projects/HDB Price Analysis/HDB_Serangoon_Final.csv")

# Mrt Coordinates

In [10]:
from pyonemap import OneMap

mrt = ["Buangkok mrt", "Hougang mrt", "Serangoon mrt", "Lorong Chuan mrt", "Bartley mrt", "Kovan mrt"]
response = OneMap.getToken("keith.yong@hotmail.com", "N@tsudslayer1")
access_token = response['access_token']

onemap = OneMap(access_token)
mrt_loc = []

for i in range(len(mrt)):
    try:
        address = onemap.search(mrt[i])
        mrt_loc.append((mrt[i], address["results"][0]["LATITUDE"], address["results"][0]["LONGITUDE"]))
        print(i)
    except:
        residential_s_loc.append((df_s["full_address"][i], "nil", "nil"))
        print(f"Error: {i}")

0
1
2
3
4
5

In [11]:
mrt_loc

[('Buangkok mrt', '1.38369417199994', '103.893049981318'),
 ('Hougang mrt', '1.37033472429161', '103.892261757937'),
 ('Serangoon mrt', '1.35063361526525', '103.872771660431'),
 ('Lorong Chuan mrt', '1.35153128621585', '103.864812169514'),
 ('Bartley mrt', '1.3424454382925', '103.880197087117'),
 ('Kovan mrt', '1.35990191952976', '103.884494725197')]

In [12]:
import pandas as pd

df_hougang = pd.read_csv("HDB_Hougang_Final.csv")
df_serangoon = pd.read_csv("HDB_Serangoon_Final.csv")

def nearest_mrt(location, mrt_list):
    from geopy import distance
    min_dist = 1000
    mrt = ""
    for i in mrt_list:
        mrt_coor = (i[1], i[2])
        cal_dist = distance.distance(location, mrt_coor).km
        if cal_dist < min_dist:
            min_dist = cal_dist
            mrt = i[0]
    return (mrt, min_dist)

mrt_hougang = []
distance_hougang = []
mrt_serangoon = []
distance_serangoon = []

for i in range(len(df_hougang)):
    res_loc = (df_hougang["X_coordinates"][i], df_hougang["Y_coordinates"][i])
    result = nearest_mrt(res_loc, mrt_loc)
    mrt_hougang.append(result[0])
    distance_hougang.append(result[1])
    if i%100 == 0:
        print(i)
        
for i in range(len(df_serangoon)):
    res_loc = (df_serangoon["X_coordinates"][i], df_serangoon["Y_coordinates"][i])
    result = nearest_mrt(res_loc, mrt_loc)
    mrt_serangoon.append(result[0])
    distance_serangoon.append(result[1])
    if i%100 == 0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200

In [26]:
print(mrt_hougang[:10])
print(mrt_serangoon[:10])
print(distance_hougang[:10])
print(distance_serangoon[:10])

['Buangkok mrt',
 'Hougang mrt',
 'Hougang mrt',
 'Hougang mrt',
 'Kovan mrt',
 'Hougang mrt',
 'Hougang mrt',
 'Hougang mrt',
 'Hougang mrt',
 'Hougang mrt']

In [16]:
df_hougang["Closest_Mrt"] = mrt_hougang
df_hougang["Mrt_Distance"] = distance_hougang
df_serangoon["Closest_Mrt"] = mrt_serangoon
df_serangoon["Mrt_Distance"] = distance_serangoon

In [28]:
df_hougang.to_csv("C:/Users/keith/OneDrive/Desktop/Github Projects/HDB Price Analysis/HDB_Hougang_Final.csv")
df_serangoon.to_csv("C:/Users/keith/OneDrive/Desktop/Github Projects/HDB Price Analysis/HDB_Serangoon_Final.csv")